<p>尊敬的{{.Cid}}: </p>
<br>
<p>您好, </p>
<br>

<p>您的管理权限已被修改为: <strong>{{.Permissions}}</strong>, 操作人: {{.Operator}}</p>
<p>请登录飞控查看您的详细权限</p>

<br>
<p>如有疑问请联系: <a href="mailto:{{.Contact}}">{{.Contact}}</a></p>
<br>

<p>以上, </p>
<p>技术支持部</p>
